    <header>
        <div class="container">
            <div class="col-md-7">
                <div class="col-xs-12">
                        <div class="intro-text">
                                <div class="intro-lead-in pull-left">Best App to Controll your Phone through SMS</div>
                        </div>
                </div>
                <div class="row">
                        <a href="https://play.google.com/store/apps/details?id=com.gummyslab.botly"><img class="img-playstore pull-left" src="{{ "/img/play-store-btn.png " | prepend:site.resource  }}"/></a>

                </div>
        
            </div>
            <div class="col-md-5">
                    <img class="img-phone" src="{{ "/img/phone.png " | prepend:site.resource  }}"/>
            </div>
                
                        </div>
    </header>
